@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@500;600;700&display=swap");

:root {
    --font-color: #5a5a5f;
    --logo-name-color: #111111;
    --Btn-Title-Number-color: #004eda;
    --background-page: #d3d3d3;
    --background-itens: #f6f6f6;
    --padding-calc: ;
}

html {
    font-size: 62.5%;
}

body {
    font: 500 1.6rem "Poppins", sans-serif;
    margin: 0;
    color: var(--font-color);
}

ul,
li,
h1,
h2,
h3,
h4,
p,
a {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.display-grid {
    display: grid;
    grid-template-rows: 8rem 1fr;
    grid-template-columns: 28rem 1fr;
    height: 100vh;
}

.display-grid svg {
    fill: rgba(255, 0, 0, 0.085);
}

.left-right {
    padding-left: 4rem;
    padding-right: 4rem;
}

.top-bottom {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.bottom-side {
    padding-bottom: 0.5rem;
}

.title-container-home {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
    background-color: var(--background-itens);
    position: sticky;
    top: 0;
}

.title-container-home h1 {
    font-size: 1.8em;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--logo-name-color);
}
.header-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    position: sticky;
    top: 0;
    background-color: var(--background-itens);
}

.header-container svg {
    width: 30px;
    height: 30px;
}

.column h2 {
    font-size: 1.2em;
    color: var(--logo-name-color);
    font-family: "Inter", sans-serif;
}

.column h3 {
    font-size: 1em;
    color: var(--font-color);
    font-family: "Inter", sans-serif;
}

.header-container ul,
.header-container a {
    display: flex;
    color: var(--font-color);
    gap: 5rem;
}

.header-container a {
    gap: 1rem;
}

.header-container .column {
    gap: 0;
}

.header-container li:hover p {
    text-decoration: underline;
}

.column {
    flex-direction: column;
}

.nav-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    background-color: var(--background-itens);
    height: calc(100vh - 16rem);
    width: 28rem;
    position: fixed;
    top: 8rem;
}

.nav-container svg {
    width: 30px;
    height: 30px;
}

.top-side {
    padding-bottom: 3rem;
}

.display__distributed {
    position: relative;
}

.display__distributed::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -4.5rem;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.193);
}

.column-nav {
    display: flex;
    gap: 1.5rem;
}

.nav-container a {
    display: block;
    padding: 0 10rem 0;
    color: var(--font-color);
}

.nav-container a:hover {
    text-decoration: underline;
}

.main-container {
    /* GRID PAGE */

    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--background-page);
    /* margin: 8rem 0 0 28rem; */

    /* Main Darshboard editon */

    display: grid;
    /* 3lc 4lr */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10rem repeat(2, minmax(0, 1fr));
    gap: 2rem;
    column-gap: 3.5rem;
}

.info-numbers {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: var(--background-itens);
    border-radius: 10px;
}

.separated-div {
    border-right: 1px solid rgba(0, 0, 0, 0.324);
    align-self: stretch;
    margin: 2rem 0;
}

.info-numbers,
.itens-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.itens-numbers h5 {
    color: var(--Btn-Title-Number-color);
    font-size: 1.4em;
}

.itens-numbers h4,
.itens-numbers h5 {
    font-weight: 500;
}

.itens-numbers .btn {
    background-color: var(--Btn-Title-Number-color);
    color: var(--background-itens);
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.529), -1px -1px 1px rgba(0, 0, 0, 0.529);
    text-shadow: 2px 2px 5px black;
}

.itens-numbers .btn:hover {
    background-color: var(--logo-name-color);
    box-shadow: 1px 1px 5px rgb(255, 21, 21), -1px -1px 5px rgb(255, 21, 21);
    text-shadow: 1px 1px 5px rgb(255, 0, 0);
}

.imagem__announced {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.imagem__announced img {
    width: 100%;
}

.imagem__sorted {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.imagem__sorted img {
    width: 100%;
}

.imagem__distributed {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.imagem__distributed img {
    width: 100%;
}
