body {
    background-color: rgb(175, 171, 166);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-image: url(ProjetoCSS-inicio/imagens/bg-2.jpg);
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: round;
}

header ul {
    text-align: right;
    margin-top: 0;
    margin-right: 35px;
}

header li {
    list-style-type: none;
    background-color: rgb(230, 221, 221);
    border: #333 solid 2px;
    border-radius: 15px;
    display: inline-block;
    margin: 30px 1px;
    letter-spacing: 1px;
}

header a {
    color: #333;
    display: block;
    text-decoration: none;
    padding: 15px;
    font-size: 120%;
    font-weight: bolder;
}

header a:hover {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 15px;
    border: rgb(230, 221, 221) solid 2px;
    border-radius: 15px;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 10%;

    font-size: 100px;
    color: aliceblue;
    font-weight: bolder;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
}


header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #333;
    border-bottom: white solid 2px;
    border-radius: 5px 50px;
    margin: 7% 33%;
    color: white;
    text-align: center;
    font-weight: lighter;
    padding: 10px;
    text-shadow: 2px 4px 3px rgba(138, 32, 32, 0.5);
}

main {
    width: 90%;
    margin: auto;
    max-width: 1550px;

}

article {
    background-color: rgba(236, 236, 236, 0.94);
    border-radius: 10px;
    margin: 32px 0;
    padding: 1px 16px;
}

article h3 {
    background-color: #c5c3c3;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}

article h4 {
    margin: 20px 0;
}

article a {
    background-color: rgb(197, 190, 190);
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    border: #333 solid 2px;
    display: block;
}

article a:hover {
    background-color: rgb(197, 190, 190);
    color: rgb(0, 0, 0);
    display: block;
    padding: 15px;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 30px;
    color: white;
    letter-spacing: 2px;
    text-shadow: 4px 4px 4px rgba(246, 0, 0, 0.5);
}