html, body{
    min-height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url(imagens/bg-1.jpg);
    background-repeat: round;
    background-size: contain;
}

.title {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: -30px;
}

.main__title {
    text-transform: uppercase;
    text-shadow: 2px 4px 5px rgb(42, 35, 35);
    font-size: 80px;
    letter-spacing: 4px;
}

.second__title {
    font-weight: lighter;
    background: rgba(47, 47, 47, 0.835);
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-top: -40px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    width: 930px;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content__info {
    background-color: black;
    margin-top: -4px;
    padding: 10px;
}

.content__info a{
    text-decoration: none;
    color: white;
}



