html {
    font-size: 65.5%;
}

body {
    background-color: rgba(87, 131, 20, 0.502)
}

h1 {
    text-align: center;
    font: 400 5rem sans-serif;
    margin-top: 10%;
}

form {
    width: 45rem;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.67);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.501),
        -3px -3px 5px rgba(0, 0, 0, 0.501);
    background-color: #fafafabf;
    border-radius: 10px;
    font: 2rem sans-serif;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
}

legend {
    text-align: center;
    padding: 3rem;
    font-size: 2.2rem;
}

label {
    font-weight: lighter;
}

input {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    padding: 1.6rem;
    margin: 0.2rem 0 3rem;
}

.actions {
    display: flex;
    gap: 30px;
}

.btn2 {
    flex-grow: 1;
    cursor: pointer;
    font-size: 1.5rem;
}

.enter {
    background-color: rgb(74, 42, 42);
    color: white;
}